<div class="row">
	<div class="container">
		<div class="col-sm-36 col-md-12">
			<div class="form-drawdown">
				<div class="heading">Nhu cầu vay của bạn?</div>
				<form method="GET" action="<%= session[:user_id] != nil ? drawdown_path(session[:user_id]) : '' %>">
					<div class="ranger-block ranger-money">
						<label class="label-left">Số tiền vay</label>
						<input type="hidden" data-label-id="#label-money" name="amount" value="2000000" data-relate="#range-time" id="range-money" class="irs-hidden-input" >
						<label class="label-right" id="label-money">2 Triệu</label>
					</div>
					<div class="ranger-block ranger-time">
						<label class="label-left">Thời gian</label>
						<input type="hidden" id="range-time" name="amount_time" value="3" data-label-id="#label-time" data-relate="#range-time" class="irs-hidden-input" >
						<label class="label-right" id="label-time">12 Tháng</label>
					</div>
					<div class="summery">
						<label>Thanh toán hàng tháng: </label>
						<span class="total text-bold"> 1.250.00 VNĐ</span>
						<span class="hint">(Thông tin mang tính chất tham khảo, bạn sẽ nhận thông tin chính xác sau khi lập đề nghị vay)</span>
					</div>
					<div class="button-submit">
						<% if session[:user_id] != nil %>
                			<button type="submit" class="btn-drawdown">Đề nghị vay</a>
						<% else %>
							<a href="<%= get_login_path() %>" class="btn-drawdown">Đề nghị vay</a>
						<% end %>
					</div>
				</form>
			</div>
		</div>
		<div class="col-sm-36 col-md-24">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">Slide 1</div>
					<div class="swiper-slide">Slide 2</div>
					<div class="swiper-slide">Slide 3</div>
					<div class="swiper-slide">Slide 4</div>
					<div class="swiper-slide">Slide 5</div>
					<div class="swiper-slide">Slide 6</div>
					<div class="swiper-slide">Slide 7</div>
					<div class="swiper-slide">Slide 8</div>
					<div class="swiper-slide">Slide 9</div>
					<div class="swiper-slide">Slide 10</div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</div>
</div>
<div class="row steps-hint">
	<div class="container">
		<div class="col-sm-5"></div>
		<div class="col-sm-8 item text-center">
			<span class="icon icon-account"></span>
			<div class="heading text-bold">ĐĂNG KÝ TÀI KHOẢN <br>TRỰC TUYẾN</div>
			<span class="hint">Chúng tôi đang giúp đỡ những người tốt được vay vốn tốt hơn.</span>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-8 item text-center">
			<span class="icon icon-drawdown"></span>
			<div class="heading text-bold">LẬP ĐỀ NGHỊ VAY <br> TRỰC TUYẾN</div>
			<span class="hint">Kết nối ngân hàng của bạn để xá minh  nhanh nhận phê duyệt khoản vay nhanh chóng của bạn trực tuyến tiền trong vài phút.</span>
		</div>
		<div class="col-sm-1"></div>
		<div class="col-sm-8 item text-center">
			<span class="icon icon-pay"></span>
			<div class="heading text-bold">KÝ HỢP ĐỒNG  <br>VÀ NHẬN GIẢI NGÂN</div>
			<span class="hint">Tiền mặt trong tài khoản ngân hàng của bạn ngay, tất cả chỉ mất vài phút.</span>
		</div>
		<div class="col-sm-5"></div>
	</div>
</div>