<html>

<head>
  <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
</head>

<body>
<h1>Thank you for Register, <%= @user.email %></h1>

<p>
  Your active code:
  <%= @user.active_code %>.<br>
</p>

<p>
  Pleasr follow this link and enter active code:
  <%= link_to "Active Code", get_active_code_url%>
</p>

<p>Thanks for joining and have a great day!</p>

</body>
</html>