<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello <%= @contact.fullname %></h1>
<p>
  Thank you so much for contacting us.
</p>
<p>
  We have
  received your inquiry and we will respond to your email within
  3 business days.
</p>
<p>
  Meanwhile, if you have any further question, please contact us:
</p>
<p>
  Hotline: 1900 1255
</p>
</body>
</html>