!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hello #{@contact.fullname}
    %p
      Thank you so much for contacting us.
    %p
      We have
      received your inquiry and we will respond to your email within
      3 business days.
    %p
      Meanwhile, if you have any further question, please contact us:
    %p
      Hotline: 1900 1255
