<div class="row">
  <div class="col-sm-36">
    <div class="list-history payment">
      <div class="heading text-bold">Lịch sử thanh toán</div>
      <div class="content">
        <ul>
          <% @status_pay.each do |history| %>
              <% if history.status_contract == 88 %>
                  <li><span class="text-bold"><%= history.created_at %></span>: Thanh toán <%= num_currency(history.orgin_rate) %> gốc, <%= num_currency(history.interest_rate) %> lãi </li>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>